<h2 style="text-align:center"></h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Content/large.jpg" class="img-responsive"/>
            <h1>   Black Parnther</h1>
            <div class="container">
                <p class="title">PG-13 2018 ‧ Fantasy/Science fiction film ‧ 2h 15m</p>
                <h4>Cast</h4>
                <p>Chadwick Boseman, Michael B. Jordan, Lupita Nyong'o, Danai Gurira, Martin Freeman, Daniel Kaluuya, Letitia Wright, Winston Duke,</p> <p>Angela Bassett, Forest Whitaker, Andy Serkis, Florence Kasumba, Sterling K. Brown, John Kani</p>
                <h3>Cinemark Mall St. Matthews and XD - Map</h3>
                <h4> Standard</h4>
                <p>10:20am</p>

                <p>
                    1:00pm
                </p>

                <p>
                    4:30pm
                </p>
                <p>
                    6:20pm
                </p>
                <p>10:35pm</p>

               
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Content/911.jpg" class="img-responsive"/>
            <div class="container">

                <h1>Kingsman: The Golden Circle</h1>
                <p class="title">
                    <h4>Genre</h4>
                    Action, Comedy, Adventure
                </p>
                <h4>Cast</h4>
                <P>Colin Firth, Julianne Moore, Taron Egerton, Mark Strong, Halle Berry, Elton John, Channing Tatum,</P><p> Jeff Bridges, Vinnie Jones, Edward Holcroft, Sophie Cookson, Pedro Pascal</p>
                <h3>Preston Crossings 16 </h3>
                <h4> Standard</h4>
                <p>2:20pm</p>

                <p>
                    12:00pm
                </p>

                <p>
                    1:30pm
                </p>
                <p>
                    2:20pm
                </p>

                
                <div>5:35pm</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Content/jumanji.jpg" class="img-responsive"/>
            <div class="container">

                <h1></h1>


                <h4>Genre</h4>
                <p>Adventure, Comedy, Fantasy</p>
                <h4>Cast</h4>
                <p>Dwayne Johnson, Jack Black, Kevin Hart, Karen Gillan</p>

                <h3>Cinemark Tinseltown USA and XD </h3>
                <h4>Digital Cinema </h4>
                <p>2:20pm</p>

                <p>
                    12:00pm
                </p>

                <p>
                    1:30pm
                </p>
                <p>
                    2:20pm
                </p>

               


            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Content/awrinkleintime.jpg" class="img-responsive"/>
            <div class="container">

                <h1>A Wrinkle in Time </h1>
                <p class="title">
                    <h4>Genre</h4>
                    Adventure, Fantasy


                </p>
                <p>
                    <h4>Cast</h4>
                    Oprah Winfrey, Reese Witherspoon, Mindy Kaling, Gugu Mbatha-Raw, Michael Peña, Zach Galifianakis, <p>Chris Pine, Storm Reid, André Holland, Levi Miller, Deric McCabe</p>
                </p>
                <h3>Preston Crossings 16 </h3>
                <h4> Standard</h4>
                <p>2:20pm</p>

                <p>
                    11:00am
                </p>

                <p>
                    1:30pm
                </p>
                <p>
                    4:20pm
                </p>

             
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Content/peterrabbit.jpg" class="img-responsive" />
            <div class="container">

                <h1>Peter Rabbit </h1>
                <p class="title">
                    <h4>Genre</h4> 
                    Action, Comedy, Adventure
                </p>
                <p>
                    <h4>Cast</h4>
                    Rose Byrne, Domhnall Gleeson, Sam Neill
                </p>
                <h3>Mall St. Matthews and XD</h3>
                <h4>Digital Cinema </h4>
                <p>2:20pm</p>

                <p>
                    12:00pm
                </p>

                <p>
                    1:30pm
                </p>
                <p>
                    2:20pm
                </p>

              


            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Content/177297_ab_large.jpg"  class="img-responsive"/>
            <div class="container">

                <h1>Game Night </h1>
                <h4>
                    Genre
                </h4>
                <p>Action, Comedy,</p>
                
                <p>
                    <h4>Cast</h4>
                    Jason Bateman, Rachel McAdams, Kyle Chandler, Jesse Plemons, Lamorne Morris, Kylie Bunbury,
                </p>
                <P>
                    Billy Magnussen, Sharon Horgan, Danny Huston, Chelsea Peretti, Michael C. Hall
                </P>


                <h3>Preston Crossings 16 </h3>
                <h4> Standard</h4>
                <p>2:20pm</p>

                <p>
                    12:00pm
                </p>

                <p>
                    1:30pm
                </p>
                <p>
                    2:20pm
                </p>

               
            </div>

        </div>

        
    </div>
</div>



