
<h2 style="text-align:center">Movie Tickets</h2>

<div class="card">
    <img src="~/Content/black.jpg" />
    <h1>Black Parnther</h1>
    <p class="title">PG-13 2018 ‧ Fantasy/Science fiction film ‧ 2h 15m</p>

    <h3>Cinemark Mall St. Matthews and XD - Map</h3>
    <h4> Standard</h4>
    <p>2:20pm</p>

    <p>
        12:00pm
    </p>

    <p>
        1:30pm
    </p>
    <p>
        2:20pm
    </p>
    <div>5:35pm</div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="~/Content/911.jpg" />
                <div class="container">

                    <h1>Kingsman: The Golden Circle</h1>
                    <p class="title">
                        Genre
                        Action, Comedy, Adventure
                    </p>

                    <h3>Preston Crossings 16 </h3>
                    <h4> Standard</h4>
                    <p>2:20pm</p>

                    <p>
                        12:00pm
                    </p>

                    <p>
                        1:30pm
                    </p>
                    <p>
                        2:20pm
                    </p>

                    <p><button>Ticket here:</button></p>
                    <div>5:35pm</div>
                    <div>
                        <div class="row">
                            <div class="column">
                                <div class="card">
                                    <img src="~/Content/911.jpg" />
                                    <div class="container">

                                        <h1>Kingsman: The Golden Circle</h1>
                                        <p class="title">
                                            Genre
                                            Action, Comedy, Adventure
                                        </p>

                                        <h3>Preston Crossings 16 </h3>
                                        <h4> Standard</h4>
                                        <p>2:20pm</p>

                                        <p>
                                            12:00pm
                                        </p>

                                        <p>
                                            1:30pm
                                        </p>
                                        <p>
                                            2:20pm
                                        </p>

                                        <p><button>ticket here:</button></p>


                                        <div>
                                            <div class="row">
                                                <div class="column">
                                                    <div class="card">
                                                        <img src="~/Content/911.jpg" />
                                                        <div class="container">

                                                            <h1>Kingsman: The Golden Circle</h1>
                                                            <p class="title">
                                                                Genre
                                                                Action, Comedy, Adventure
                                                            </p>

                                                            <h3>Preston Crossings 16 </h3>
                                                            <h4> Standard</h4>
                                                            <p>2:20pm</p>

                                                            <p>
                                                                12:00pm
                                                            </p>

                                                            <p>
                                                                1:30pm
                                                            </p>
                                                            <p>
                                                                2:20pm
                                                            </p>

                                                            <p><button> ticket here</button></p>
                                                        </div>
                                                        <div>
                                                            <div class="row">
                                                                <div class="column">
                                                                    <div class="card">
                                                                        <img src="~/Content/911.jpg" />
                                                                        <div class="container">

                                                                            <h1>Kingsman: The Golden Circle</h1>
                                                                            <p class="title">
                                                                                Genre
                                                                                Action, Comedy, Adventure
                                                                            </p>

                                                                            <h3>Preston Crossings 16 </h3>
                                                                            <h4> Standard</h4>
                                                                            <p>2:20pm</p>

                                                                            <p>
                                                                                12:00pm
                                                                            </p>

                                                                            <p>
                                                                                1:30pm
                                                                            </p>
                                                                            <p>
                                                                                2:20pm
                                                                            </p>

                                                                            <p><button>tickets here</button></p>


                                                                            <div>
                                                                                <div class="row">
                                                                                    <div class="column">
                                                                                        <div class="card">
                                                                                            <img src="~/Content/911.jpg" />
                                                                                            <div class="container">

                                                                                                <h1>Kingsman: The Golden Circle</h1>
                                                                                                <p class="title">
                                                                                                    Genre
                                                                                                    Action, Comedy, Adventure
                                                                                                </p>

                                                                                                <h3>Preston Crossings 16 </h3>
                                                                                                <h4> Standard</h4>
                                                                                                <p>2:20pm</p>

                                                                                                <p>
                                                                                                    12:00pm
                                                                                                </p>

                                                                                                <p>
                                                                                                    1:30pm
                                                                                                </p>
                                                                                                <p>
                                                                                                    2:20pm
                                                                                                </p>

                                                                                                <p><button>tickets here:</button></p>
                                                                                            </div>

                                                                                        </div>


                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                        </div>


                        <div style="margin: 24px 0;">
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </div>
                        <p><button>price:</button></p>
                    </div>
